div{
    margin: 0 auto;
    text-align: center;
}
div.title{
    color: black;
    font-size: 3rem;
}

.board{
    fill:#888888;
    stroke:#000000;
    stroke-width:1;
}

.gameDiv{
    height: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.gameDiv > div{
    margin:auto 0;
}
.boardDiv{
    grid-row:1/4;
    grid-column: 3/5;
}
.leftUp{
    text-align: right;
    grid-row:1/2;
    grid-column: 2/3;
}
.leftMiddle{
    grid-row: 2/3;
    grid-column: 2/3;
}
.leftDown{
    text-align: right;
    grid-row: 3/4;
    grid-column: 2/3;
}
.rightUp{
    text-align: left;
    grid-row: 1/2;
    grid-column: 5/6;
}
.rightMiddle{
    grid-row: 2/3;
    grid-column: 5/6;
}
.rightDown{
    text-align: left;
    grid-row: 3/4;
    grid-column: 5/6;
}

.boardSvg{
    margin: 0 auto;
    text-align: center;
}
div.buttonDiv{
    border: none;
    width: calc((100%) / 5);
    margin: auto 0;
    display: inline-block;
    text-align: center;
    overflow: auto;
}
div.blockDiv{
    width: calc((100%) / 10);
    display: inline-block;
}
button{
    height: 40px;
    width: 160px;
    font-size: 1.5rem;
    border-radius: 3rem;
    border-width: 1px;
}
div.defSvg{
    height: 0;
}
.nowPlayerDiv{
    display: grid;
    grid-template-columns: 13% 14% 13% 20% 13% 14% 13%;
    grid-template-rows: 1fr;
    font-size: 36px;
    text-align: left;
}
.containNowPlayer{
    display: flex;
    align-items: center;
    justify-content: center;
}